
/*BG start*/
.mainBg{
	width:100%;height:700px;position:relative;
	overflow:hidden;
	/*background-image:url('../image/textBgPaper.jpeg');
	background-repeat:no-repeat;
	background-size:100% auto;
	background-position:center;	*/
}
.mainBgText{
	color:#fff;
	position:absolute;top:0;left:10%;z-index:5;
	width:400px;height:100%;max-height:100%;
	background:rgba(0, 0, 0, 0.4);
	line-height:40px;font-size:25px;
	display:flex;flex-direction:column;padding-left:50px;
	justify-content:center;
}
.mainBgText2{
	color:#fff;
	height:100%;max-height:100%;
	position:absolute;top:0;left:10%;z-index:5;
	display:flex;flex-direction:column;
	align-items:center;
	justify-content:center;
}
.mainBgText2 span{
	font-size:38px;
	text-shadow:1px 1px 3px rgba(0,0,0,0.4);
	letter-spacing:2px;
	font-weight:bold;
	text-align:center;
	margin:10px 0;
}
.mainBgText2 span:last-child{
	border-top:2px solid #fff;
	padding:10px 30px;
	font-size:30px;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/*.mainBgImg{
	position:absolute;width:100%;height:100%;max-height:100%;
	top:0;left:0;
}*/
.slideWrap{
	width:calc(100%*3);height:100%;overflow:hidden;
	position:relative;
	z-index:1;
}
.slide{
	float:left;width:100%;height:700px;
}
.slide img{
	width:100%;height:100%;max-height:100%;
}
/*BG end*/

/*section1 start*/
.section1{
	width:1280px;height:500px;margin:0 auto;
	display:flex;align-items:center;position:relative;
}
.section1-left{
	width:40%;
}
.section1-left > img{
	float:right;
}
.section1-right{
	width:60%;margin-top:55px;
}
.section1-text{
	font-size:22px;line-height:60px;margin-bottom:50px;	
}
.section1-btn{
	float:right;position:relative;
	background:none;padding:10px 50px 10px 30px;border-radius:40px;
	border:1px solid #EFA234;margin-right:50px;font-size:20px;
	color:#EFA234;cursor:pointer;transition:0.3s;
}
.section1-btn:hover{
	background:#EFA234;color:#fff;
}
.section1-btn > i{
	position:absolute;top:0;right:10px;height:100%;
	display:flex;align-items:center;
}
/*section1 end*/

/*section2 start*/
.section2{
	width:100%;height:800px;
	background:#e4eef6;
}
.section2-header{
	width:1280px;margin:0 auto;font-size:50px;height:250px;
	color:#613c22;display:flex;align-items:center;justify-content:center;
}
.section2-header > span{
	font-family: 'S-CoreDream-4Regular';
}
.section2-list{
	width:1280px;height:550px;margin:0 auto;
	display:flex;justify-content:space-around;
}
.section2-item{
	width:300px;height:450px;position:relative;
}

.section2-imgHolder{
	width:100%;height:300px;overflow:hidden;
}
.section2-imgHolder > img{
	max-width:100%;max-height:100%;cursor:pointer;
	width:100%;height:100%;transition:0.3s;
}
.section2-imgHolder > img:hover{
	transform:scale(1.2);
}
.section2-info{
	width:100%;height:150px;display:flex;flex-direction:column;
	background:#fff;justify-content:space-around;padding:0 22px;
}
.section2-info > span{
	font-family: 'S-CoreDream-4Regular';
}
.section2-infoKo{
	font-size:22px;font-weight:bold;
}
.section2-btn{
	width:50px;height:50px;
	display:flex;align-items:center;justify-content:center;
	position:absolute;right:0;top:275px;transition:0.3s;
	background:#89B4DF;border:none;color:#fff;font-size:22px;
	cursor:pointer;
}
.section2-btn:hover{
	background:#EFA234;
}
/*section2 end*/

/*section3 start*/
.section3{
	width:100%;height:800px;position:relative;
	background:rgba(0, 0, 0, 0.7);
}
.section3-bg{
	width:100%;height:100%;position:absolute;top:0;left:0;
	background-image:url('../image/newBG2.jpg');
	opacity:0.2;z-index:1;pointer-events:none;
}
.section3-content{
	z-index:2;
}
.section3-header{
	width:1280px;margin:0 auto;font-size:50px;height:250px;
	color:#fff;display:flex;align-items:center;justify-content:center;
}
.section3-header > span{
	font-family: 'S-CoreDream-4Regular';
}
.section3-box{
	border:1px solid #fff;
	width:1000px;margin:0 auto;;height:400px;
	display:flex;
}
.section3-item{
	width:33.3%;height:100%;color:#fff;
	display:flex;flex-direction:column;align-items:center;
	padding-top:10%;	
}
.section3-item:not(:last-child){
	border-right:1px solid #fff;
}
.section3-item > i{
	width:60px;height:60px;border-radius:50%;
	background:rgba(0, 0, 0, 0.5);display:flex;align-items:center;
	justify-content:center;font-size:24px;margin-bottom:5%;
}
.section3-label{
	font-weight:bold;font-size:22px;margin-bottom:15%;
	
}

.section3-info{
	font-size:16px;
	
}

/*section3 end*/
